.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;

    &__leftbox {
      margin-top: 35px;
      h2 {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      ul {
        display: flex;
        font-size: 12px;
        color: #999999;
      }
      li {
        padding: 0 5px;
      }
    }

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
      position: absolute;
      right: 40px;
      a {
        color: $light_blue;
        text-decoration: none;
      }
    }   
  
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-talker {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
          .massage__upper-talker {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          .massage__upper-date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
      }
      .message__text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  } 

  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
      form {
        display: flex;
      }
    .new_massage {
    }
    input[type=hidden] {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
    .input-box {
      position: relative;
      width: 100%;
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
        box-sizing: border-box;
      }
      &__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
        .input-box__image__file {
          display: none;
        }
    }
    .submit_btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $light_blue;
      color: $white;
      cursor: pointer;
    }  
  }
}
* {
  box-sizing: border-box;
}